$black: #000
$white: #fff
$gray: #4d4d4d
$darkBlue: #022B45
$yellow: #FFC628
$blue: #0E679F

// Stories page

.success-stories
  h2, h5, p
    color: $blue

.success-stories-box
    margin: 10px
    img
        width: 100%


.quote
    padding-top: 10px
    margin-top: 5px
    p
        color: $gray

    p.student
        color: $blue


#stories-pic-1 
    float: left
    img
        padding-top: 5px
    
#stories-pic-2 
    float: right
    img
        padding-top: 5px
   
.last-story
    margin-bottom: 50px


.fa-quote-right
    color: $yellow
    margin-left: 10px !important
.fa-quote-left
    color: $yellow
    margin-right: 10px !important

