.col-lo-1 {
  float: left;
  width: 8.33333%;
}

@media screen and (min-width: 40em) and (max-width: 63.99em) {
  .col-md-1 {
    float: left;
    width: 8.33333%;
  }
}

@media screen and (max-width: 39.99em) {
  .col-sm-1 {
    float: left;
    width: 8.33333%;
  }
}

.col-lo-2 {
  float: left;
  width: 16.66667%;
}

@media screen and (min-width: 40em) and (max-width: 63.99em) {
  .col-md-2 {
    float: left;
    width: 16.66667%;
  }
}

@media screen and (max-width: 39.99em) {
  .col-sm-2 {
    float: left;
    width: 16.66667%;
  }
}

.col-lo-3 {
  float: left;
  width: 25%;
}

@media screen and (min-width: 40em) and (max-width: 63.99em) {
  .col-md-3 {
    float: left;
    width: 25%;
  }
}

@media screen and (max-width: 39.99em) {
  .col-sm-3 {
    float: left;
    width: 25%;
  }
}

.col-lo-4 {
  float: left;
  width: 33.33333%;
}

@media screen and (min-width: 40em) and (max-width: 63.99em) {
  .col-md-4 {
    float: left;
    width: 33.33333%;
  }
}

@media screen and (max-width: 39.99em) {
  .col-sm-4 {
    float: left;
    width: 33.33333%;
  }
}

.col-lo-5 {
  float: left;
  width: 41.66667%;
}

@media screen and (min-width: 40em) and (max-width: 63.99em) {
  .col-md-5 {
    float: left;
    width: 41.66667%;
  }
}

@media screen and (max-width: 39.99em) {
  .col-sm-5 {
    float: left;
    width: 41.66667%;
  }
}

.col-lo-6 {
  float: left;
  width: 50%;
}

@media screen and (min-width: 40em) and (max-width: 63.99em) {
  .col-md-6 {
    float: left;
    width: 50%;
  }
}

@media screen and (max-width: 39.99em) {
  .col-sm-6 {
    float: left;
    width: 50%;
  }
}

.col-lo-7 {
  float: left;
  width: 58.33333%;
}

@media screen and (min-width: 40em) and (max-width: 63.99em) {
  .col-md-7 {
    float: left;
    width: 58.33333%;
  }
}

@media screen and (max-width: 39.99em) {
  .col-sm-7 {
    float: left;
    width: 58.33333%;
  }
}

.col-lo-8 {
  float: left;
  width: 66.66667%;
}

@media screen and (min-width: 40em) and (max-width: 63.99em) {
  .col-md-8 {
    float: left;
    width: 66.66667%;
  }
}

@media screen and (max-width: 39.99em) {
  .col-sm-8 {
    float: left;
    width: 66.66667%;
  }
}

.col-lo-9 {
  float: left;
  width: 75%;
}

@media screen and (min-width: 40em) and (max-width: 63.99em) {
  .col-md-9 {
    float: left;
    width: 75%;
  }
}

@media screen and (max-width: 39.99em) {
  .col-sm-9 {
    float: left;
    width: 75%;
  }
}

.col-lo-10 {
  float: left;
  width: 83.33333%;
}

@media screen and (min-width: 40em) and (max-width: 63.99em) {
  .col-md-10 {
    float: left;
    width: 83.33333%;
  }
}

@media screen and (max-width: 39.99em) {
  .col-sm-10 {
    float: left;
    width: 83.33333%;
  }
}

.col-lo-11 {
  float: left;
  width: 91.66667%;
}

@media screen and (min-width: 40em) and (max-width: 63.99em) {
  .col-md-11 {
    float: left;
    width: 91.66667%;
  }
}

@media screen and (max-width: 39.99em) {
  .col-sm-11 {
    float: left;
    width: 91.66667%;
  }
}

.col-lo-12 {
  float: left;
  width: 100%;
}

@media screen and (min-width: 40em) and (max-width: 63.99em) {
  .col-md-12 {
    float: left;
    width: 100%;
  }
}

@media screen and (max-width: 39.99em) {
  .col-sm-12 {
    float: left;
    width: 100%;
  }
}

@media screen and (min-width: 40em) and (max-width: 63.99em) {
  body {
    margin: 0;
    padding: 0;
  }
  body .banner {
    height: auto;
  }
  body .banner img {
    width: 100%;
  }
  body .flexslider {
    overflow: hidden;
  }
  #wrapper {
    padding: 10px 0;
    width: 95%;
  }
  #wrapper #box img {
    width: 80%;
  }
  #wrapper #box .text p {
    margin-top: -10px;
  }
  #wrapper #box .text a {
    margin-left: 35%;
  }
  footer .address {
    text-align: center;
    margin-bottom: 20px;
  }
  footer .register-button {
    width: 70%;
    margin-top: 5px;
  }
  footer .advisor-yellow {
    width: 70%;
  }
}
